@import "tailwindcss";

@theme {
  --color-figma-bg-light: #F5F5F5;
  --color-figma-sidebar-light: #FFFFFF;
  --color-figma-input-light: #FFFFFF;
  --color-figma-btn-light: #000000;
  
  --color-figma-bg-dark: #0B0E14;
  --color-figma-sidebar-dark: #151921;
  --color-figma-input-dark: #1C2128;
  --color-figma-btn-dark: #3D444D;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
